@model BiblioSol.Shared.Dtos.PrestamosDtos.PrestamoAddDto

@{
    ViewData["Title"] = "AddPrestamo";
}

<h1>Add Loan</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPrestamo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="libroId" class="control-label"></label>
                <input asp-for="libroId" class="form-control" />
                <span asp-validation-for="libroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreCliente" class="control-label"></label>
                <input asp-for="nombreCliente" class="form-control" />
                <span asp-validation-for="nombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estadoId" class="control-label"></label>
                <input asp-for="estadoId" class="form-control" />
                <span asp-validation-for="estadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaCreacion" class="control-label"></label>
                <input asp-for="fechaCreacion" class="form-control" />
                <span asp-validation-for="fechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioCreacionId" class="control-label"></label>
                <input asp-for="usuarioCreacionId" class="form-control" />
                <span asp-validation-for="usuarioCreacionId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="active" /> @Html.DisplayNameFor(model => model.active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllPrestamos">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
