
<h1>Search author by Id</h1>


<form asp-action="GetAutorById" method="get">
    <div class="form-group">
        <label for="id">Book ID:</label>
        <input type="number" class="form-control" name="id" id="id" required />
        <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    </div>
</form>

<hr />

<div>
    <a asp-action="GetAllAutores">Back to List</a>
</div>