@model BiblioSol.Shared.Dtos.AutorDtos.AutorUpdateDto

@{
    ViewData["Title"] = "UpdateAutor";
}

<h1>Update Author</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAutor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idAutor" class="control-label"></label>
                <input asp-for="idAutor" class="form-control" />
                <span asp-validation-for="idAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaMod" class="control-label"></label>
                <input asp-for="fechaMod" class="form-control" />
                <span asp-validation-for="fechaMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioMod" class="control-label"></label>
                <input asp-for="usuarioMod" class="form-control" />
                <span asp-validation-for="usuarioMod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="active" /> @Html.DisplayNameFor(model => model.active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllAutores">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
