@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">¡Bienvenido a BiblioSol!</h1>
    <p class="lead">
        Explora nuestro sistema de gestion bibliotea.
    </p>
    <p>
        Usa el menú para navegar por las diferentes secciones y comenzar a administrar tu biblioteca.
    </p>
</div>
